<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
    e-Mail: <input formControlName="email" type="email" placeholder="e-Mail" required>
    Password:<input formControlName="password" type="password" placeholder="password" required>
    <button type="submit">Submit</button>
</form>

<div>
    <li>Admin login email: admin@admin.com</li>
    <li>Admin login password: admin</li>
</div>

<div>
    <h1></h1>
    <h3>Routes (clicca le route per navigarci):</h3>
    <li><a routerLink="/converter"> /converter </a></li>
    <li><a routerLink="/weather">/weather</a></li>
    <li><a routerLink="/task-manager">/task-manager</a></li>
    <li><a routerLink="/signup">/signup</a></li>
</div>